{% extends 'base.html' %}

{% load static %}

{% block title %}Article{% endblock title %}

{% block content %}
    {% for article in article_list%}
    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row g-0">
          <div class="col-md-2"> 
            <img src="{% static 'img/noticias.png'%}" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-header">
                <span class="font-weigth-bold">
                    {{article.title}}
                </span> &middot;
                <span class="text-muted">by {{ article.author }} | 
                    {{article.date}}
                </span>
            </div>
            <div class="card-body">
                <p>{{article.body}}</p>
                </div>
            </div>

            <div class="card-footer">
              <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                  <h5 class="text-white h4">Comment</h5>
                  {% for comment in article.comment_set.all %}
                      <p>
                          <span class="text-white font-weight-bold">
                              {{ comment.author }} &middot;
                              {{ comment }}
                          </span>
                      </p>
                  {% endfor %}
                </div>
              </div>
              <nav class="navbar">
                <div class="container-fluid">
                  <button class="navbar-toggler btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar">Comment</span>
                  </button>
                </div>
              </nav>
              <ul class="container-fluid">
                <nav class="d-grid gap-2 d-md-block nav nav-pills flex-column flex-sm-row">
                  <a class="flex-sm-fill text-sm-center btn btn-outline-primary " href="{% url 'article_edit' article.pk %}">Edit</a>
                  <a class="flex-sm-fill text-sm-center btn btn-outline-primary " href="{% url 'article_delete' article.pk %}">Delete</a>
                  <a class="flex-sm-fill text-sm-center btn btn-outline-primary " href="{% url 'article_details' article.pk %}">Add Comment</a>
                </nav>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{%endblock content%}